<%= render 'books/infonew',book:@book %>
<h1>Users</h1>
<% @users.each do |user| %>
<table>
  <tr>
    <th>images</th>
    <th>name</th>
    <th></th>
  </tr>
  <tr>
    <td><%= image_tag 'sample-author1.jpg' %></td>
    <td><%= user.name %></td>
    <td><%= link_to 'Show',user_path(user.id) %></td>
  </tr>
</table>
<% end %>