<%= render 'books/infonew',book:@book %>
<h1>Books</h1>
<% @books.each do |book| %>
  <table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <tr>
      <td><%= image_tag 'sample-author1.jpg' %></td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
    </tr>
  </table>

<% end %>

